{% extends 'admin/base.html' %}

{% load i18n unfold %}
{% load static %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
    {% if plausible_domain %}
        <script defer data-domain="{{ plausible_domain }}" src="https://plausible.io/js/script.js"></script>
    {% endif %}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}
    <form method="get" action="" class="flex gap-2 mb-3 p-1 rounded text-sm">
        <div class="mr-auto flex gap-4 p-1 rounded" style="background-color: #f3f4f6;">
            <select name="month" id="sales-month" class="px-2 py-2" style="background-image: none;border-radius: 5px;" onchange="this.form.submit()">
                <option value="01" {% if selected_month == "01" %}selected{% endif %}>Enero</option>
                <option value="02" {% if selected_month == "02" %}selected{% endif %}>Febrero</option>
                <option value="03" {% if selected_month == "03" %}selected{% endif %}>Marzo</option>
                <option value="04" {% if selected_month == "04" %}selected{% endif %}>Abril</option>
                <option value="05" {% if selected_month == "05" %}selected{% endif %}>Mayo</option>
                <option value="06" {% if selected_month == "06" %}selected{% endif %}>Junio</option>
                <option value="07" {% if selected_month == "07" %}selected{% endif %}>Julio</option>
                <option value="08" {% if selected_month == "08" %}selected{% endif %}>Agosto</option>
                <option value="09" {% if selected_month == "09" %}selected{% endif %}>Septiembre</option>
                <option value="10" {% if selected_month == "10" %}selected{% endif %}>Octubre</option>
                <option value="11" {% if selected_month == "11" %}selected{% endif %}>Noviembre</option>
                <option value="12" {% if selected_month == "12" %}selected{% endif %}>Diciembre</option>
            </select>
            <select name="year" id="sales-year" class="px-2 py-2" style="background-image: none;border-radius: 5px;" onchange="this.form.submit()">
                {% for year in years %}
                <option value="{{ year }}" {% if year|stringformat:"s" == request.GET.year %}selected{% elif year == selected_year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    {% component "unfold/components/container.html" %}
        <div class="flex flex-col gap-8 mb-12">
            {% component "unfold/components/card.html" with title=_("Cantidad de Ventas en MLC en el mes") %}
                {% component "unfold/components/chart/bar.html" with data=chart height=320px options=chart_options %}{% endcomponent %}
            {% endcomponent %}

            <div class="flex flex-col gap-8 lg:flex-row">
                {% component "unfold/components/card.html" with class="lg:w-1/2" title=_("Productos más vendidos en los útlimos 15 días") %}
                    {% component "unfold/components/title.html" with class="mb-2" %}
                        Monto Total: ${{total_revenue}}
                    {% endcomponent %}

                    {% component "unfold/components/separator.html" %}{% endcomponent %}

                    <div class="flex flex-col gap-5">
                        {% for metric in top_products %}
                            {% component "unfold/components/progress.html" with title=metric.title description=metric.description value=metric.value %}{% endcomponent %}
                        {% endfor %}
                    </div>
                {% endcomponent %}
            </div>
        </div>
    {% endcomponent %}
{% endblock %}