{% load static %}
<header class="fixed-top z-10 mt-0" style="min-height: 50px;">
  <nav class="navbar navbar-expand-lg main-header nav-pad text-center align-content-center align-items-center" style="background-color: rgb(78, 78, 78);" data-bs-theme="dark">
      <a href="{% url 'index' %}" class="navbar-brand text-white hover:text-light d-flex">
        <img src="{% static 'img/logo.png' %}" alt="TRD-Caribe" style="height: 40px;">
        <h2 class="my-auto d-none d-sm-flex" style="margin-bottom:0"><b>TRD-Caribe</b></h2>
      </a>
      {% if show_filters %}
      <div class="collapse navbar-collapse">
        {# Category Filter Select#}
        <div class="mx-2" style="max-width: 120px;">
          <select class="form-select text-truncate custom-form" style="background-color: rgb(78, 78, 78);" id="floatingSelect">
            <option value="all_categories" selected>Todas</option>
            <option value="1">Alimentos</option>
            <option value="2">Bebidas</option>
            <option value="3">Electrodomésticos</option>
          </select>
        </div>

        {# Search Bar #}
        <form class="d-flex input-group flex-grow-1" role="search">
          <input class="form-control bg-white border border-0 text-black custom-form" style="max-width: 600px;" type="search" placeholder="Buscar Producto" aria-label="Buscar Producto">
          <button class="btn bg-white border border-0 text-black" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
      {% endif %}


      <!-- Side Menu -->
      <div style="background-color: white; max-width:300px" class="offcanvas-xxl offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header align-items-center align-content-center">
          <img src="{% static 'img/logo.png' %}" alt="TRD-Caribe" style="height: 56px;">
          <div>
            <h5 class="offcanvas-title text-dark" id="offcanvasRightLabel">TRD-Caribe</h5>
            <span class="offcanvas-title text-dark" id="offcanvasRightLabel">Tienda Virtual</span>
          </div>
          <button type="button" class="btn text-dark ms-auto me-2" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasRight" aria-label="Close"><i class="bi bi-chevron-right"></i></button>
        </div>
        <div class="offcanvas-body">
          <div class="list-group ms-1">
            <a href="{% url 'contact' %}" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-envelope-fill mx-3"></i>Contáctenos</a>
            <a href="{% url 'best-seller' %}" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-currency-dollar mx-3"></i>Más Vendidos</a>
            <a href="{% url 'most-viewed' %}" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-tag-fill mx-3"></i>Más Vistos</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'order-list' %}" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-receipt mx-3"></i>Mis Compras</a>
            <a href="{% url 'logout' %}" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-box-arrow-right mx-3"></i>Cerrar Sesión</a>
            {% endif %}
            <a href="{% url 'terms-and-conditions' %}" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-file-earmark-text-fill mx-3"></i>Términos y Condiciones</a>
            <a href="#" class="d-flex list-group-item px-0 bg-white text-dark border border-0 offcanva-list-item"><i class="bi bi-file-earmark-person-fill mx-3"></i>Manual de Usuario</a>
          </div>
          <hr class="text-dark"/>
          <div class="list-group ms-1 text-dark">
            <span class="d-flex list-group-item px-0 bg-white text-dark border border-0 h6">Contáctenos a:</span>
            <span class="d-flex list-group-item px-0 bg-white text-dark border border-0 h6"><i class="bi bi-telephone-fill mx-2"></i>+55 555555</span>
            <span class="d-flex list-group-item px-0 bg-white text-dark border border-0 h6"><i class="bi bi-envelope-fill mx-2"></i>trdcaribe@gmail.com</span>
          </div>
          <div class="list-group ms-1 text-dark">
            <span class="d-flex list-group-item px-0 bg-white text-dark border border-0 h6">Tu opinión cuenta</span>
            <a href="{% url 'contact' %}" class="btn btn-warning text-dark" style="width: fit-content;"><span class="h6">Dejar Comentario</span></a>
          </div>
        </div>
      </div>

      <!-- Left navbar links -->
      <ul class="ms-auto d-flex align-items-center mb-0">
        <li class="nav-item nav-link">
          <a href="{% url 'index' %}" id="subline" class="btn menu-button"><i class="bi bi-house-door-fill h4"></i></a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item nav-link">
          <a href="{% url 'profile' %}" id="subline" class="btn menu-button"><i class="bi bi-person-circle h4"></i></a>
        </li>
        <li class="nav-item nav-link">
          <a href="{% url 'cart' %}" type="button" class="btn menu-button position-relative">
            <i class="bi bi-cart-fill h4"></i>
            {% if cart_count > 0 %}
            <span class="position-absolute start-90 translate-middle badge rounded-pill bg-danger" style="top:7px;font-size:0.7rem">
              {% if cart_count < 99 %}{{cart_count}}{% else %}99+{% endif %}
              <span class="visually-hidden">unread messages</span>
            </span>
            {% endif %}
          </a>
        </li>
        {% else %}
        <li class="nav-item nav-link">
          <a href="{% url 'login' %}" id="subline" class="btn menu-button"><i class="bi bi-person-circle h4"></i></a>
        </li>
        {% endif %}
        <li class="nav-item nav-link">
          <button class="btn menu-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list h4"></i></button>
        </li>
      </ul>
  </nav>

  {% if show_filters %}
  <!-- Nuevo contenedor para el selector y el formulario de búsqueda -->
  <div class="p-2 d-lg-none under-nav" style="background-color: white;" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="d-flex align-items-center gap-2">
        <!-- Category Filter Select -->
        <div class="mx-2" style="max-width: 120px;">
          <select class="form-select text-truncate bg-white text-dark custom-form border border-0" id="floatingSelect">
            <option value="all_categories" selected>Todas</option>
            <option value="1">Alimentos</option>
            <option value="2">Bebidas</option>
            <option value="3">Electrodomésticos</option>
          </select>
        </div>

        <!-- Search Bar -->
        <form class="d-flex input-group flex-grow-1" role="search">
          <input class="form-control custom-form bg-white border border-end-0 text-dark" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-secondary border border-start-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</header>

