{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Términos y Condiciones</h1>

    <section class="mb-5">
        <h2 class="h4">Términos y Condiciones</h2>
        <p>
            Al utilizar nuestra tienda virtual, aceptas cumplir con los términos y condiciones aquí descritos. Nos reservamos el derecho de modificar estos términos en cualquier momento sin previo aviso.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4">Política de Privacidad</h2>
        <p>
            Tu privacidad es importante para nosotros. Toda la información personal recopilada será utilizada únicamente para procesar tus pedidos y mejorar tu experiencia en nuestra tienda. No compartiremos tu información con terceros sin tu consentimiento.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4">Política de Envío</h2>
        <p>
            Ofrecemos envíos a nivel nacional. Los tiempos de entrega pueden variar según la ubicación. Una vez procesado tu pedido, recibirás un correo electrónico con los detalles del envío y un número de seguimiento.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4">Registro del Usuario</h2>
        <p>
            Para realizar compras en nuestra tienda, es necesario registrarse con información válida y actualizada. El usuario es responsable de mantener la confidencialidad de su cuenta y contraseña.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4">Derechos del Usuario</h2>
        <p>
            Como usuario, tienes derecho a acceder, rectificar y eliminar tus datos personales. También puedes solicitar información sobre cómo utilizamos tus datos y presentar quejas si consideras que tus derechos han sido vulnerados.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="h4">Compartir Información</h2>
        <p>
            No compartiremos tu información personal con terceros, excepto cuando sea necesario para procesar tu pedido o cumplir con requisitos legales. Nos comprometemos a proteger tu información con medidas de seguridad adecuadas.
        </p>
    </section>
</div>
{% endblock %}