{% extends 'auth/authbase.html' %}

{% block content %}
<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Welcome text and login header -->
      <div class="text-center mb-4">
        <h2 class="text-primary mt-5 mb-4">INICIAR SESIÓN</h2>
      </div>
      
      <!-- Login form with floating labels -->
      <form method="POST" class="needs-validation" style="margin: 0 5vw;">
        {% csrf_token %}
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control auth-form" id="email" name="email" placeholder="Correo electrónico" required>
          <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
        </div>
  
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
              <input type="password" class="form-control auth-form border border-end-0" id="password" name="password" placeholder="Contraseña" required>
              <button type="button" class="btn border border-start-0" id="togglePassword">
                  <i class="bi bi-eye"></i>
              </button>
          </div>
          <div class="invalid-feedback">Por favor, ingrese una contraseña.</div>
        </div>
        
        <div class="row">
          <div class="col-md-6 d-grid mb-3">
            <a href="{% url 'index' %}" type="button" class="btn btn-outline-secondary">Cancelar</a>
          </div>
          <div class="col-md-6 d-grid mb-3">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </div>
        
        <div class="text-center">
          <p class="mb-0"><a href="#" class="text-decoration-none">¿Ha olvidado la contraseña?</a></p>
          <p>¿No tiene una cuenta? <a href="{% url 'register' %}" class="text-decoration-none">Crear cuenta</a></p>
        </div>
        
        {% if form.errors %}
        <div class="alert alert-danger mt-3">
          <p>Correo electrónico o contraseña incorrectos. Por favor, intente nuevamente.</p>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

<script>
  // Form validation script
  (function() {
    'use strict';
    
    // Fetch all forms we want to apply validation styles to
    var forms = document.querySelectorAll('.needs-validation');
    const togglePassword = document.getElementById('togglePassword');

    togglePassword.addEventListener('click', function() {
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      this.querySelector('i').classList.toggle('bi-eye');
      this.querySelector('i').classList.toggle('bi-eye-slash');
    });

    
    // Loop over forms and prevent submission if invalid
    Array.prototype.slice.call(forms).forEach(function(form) {
      form.addEventListener('submit', function(event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  })();
</script>
{% endblock %}