{% extends 'auth/authbase.html' %}
{% load static %}
{% block content %}
<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Welcome text and login header -->
      <div class="text-center mb-4">
        <h2 class="text-primary mt-5 mb-4">INICIAR SESIÓN</h2>
      </div>
      
      <!-- Login form with floating labels -->
      <form method="POST" id="login-form" class="needs-validation" style="margin: 0 5vw;">
        {% csrf_token %}
        <div class="mb-3">
          {% if error %}
          <div class="text-danger">{{ error }}</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control auth-form" id="email" name="email" placeholder="Correo electrónico" required>
          <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
        </div>
  
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
              <input type="password" class="form-control auth-form border border-end-0" id="password" name="password" placeholder="Contraseña" required>
              <button type="button" class="btn border border-start-0" id="togglePassword">
                  <i class="bi bi-eye"></i>
              </button>
          </div>
          <div class="invalid-feedback">Por favor, ingrese una contraseña.</div>
        </div>
        
        <div class="row">
          <div class="col-md-6 d-grid mb-3">
            <a href="{% url 'index' %}" type="button" class="btn btn-outline-secondary">Cancelar</a>
          </div>
          <div class="col-md-6 d-grid mb-3">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </div>
        
        <div class="text-center">
          <p class="mb-0">
            <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">¿Ha olvidado la contraseña?</a>
          </p>
          <p>¿No tiene una cuenta? <a href="{% url 'register' %}" class="text-decoration-none">Crear cuenta</a></p>
        </div>
        
        {% if form.errors %}
        <div class="alert alert-danger mt-3">
          <p>Correo electrónico o contraseña incorrectos. Por favor, intente nuevamente.</p>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

<!-- Modal para recuperar contraseña -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">Recuperar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" id="forgot-password-form" class="needs-validation" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="modal-body">
          {% if forgot_password_error %}
          <div class="alert alert-danger" role="alert">
            {{ forgot_password_error }}
          </div>
          {% endif %}
          <div class="mb-3">
            <label for="forgot-email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control auth-form" id="forgot-email" name="forgot_password_email" placeholder="Ingrese su correo electrónico" required>
            <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock script %}
{% endblock %}