{% extends 'auth/authbase.html' %}
{% load static %}
{% block content %}
<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Header for setting a new password -->
      <div class="text-center mb-4">
        <h2 class="text-primary mt-5 mb-4">Recuperar Contraseña</h2>
      </div>
      
      <!-- New password form -->
      <form method="POST" id="reset-password-form" class="needs-validation" style="margin: 0 5vw;" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          {% if error %}
          <div class="text-danger">{{ error }}</div>
          {% endif %}
        </div>
        <div class="mb-3">
          <label for="new-password" class="form-label">Nueva Contraseña</label>
          <div class="input-group">
              <input type="password" class="form-control auth-form border border-end-0" id="new-password" name="new_password" placeholder="Ingrese su nueva contraseña" required>
              <button type="button" class="btn border border-start-0" id="togglePassword">
                  <i class="bi bi-eye"></i>
              </button>
          </div>
          <div class="error-message text-danger" id="passwordError"></div>
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
          <div class="input-group">
              <input type="password" class="form-control auth-form border border-end-0" id="confirm-password" name="confirm_password" placeholder="Confirme su nueva contraseña" required>
              <button type="button" class="btn border border-start-0" id="togglePasswordConfirm">
                  <i class="bi bi-eye"></i>
              </button>
          </div>
          <div class="error-message text-danger" id="confirmPasswordError"></div>
        </div>
        
        <div class="row">
          <div class="col-md-6 d-grid mb-3">
            <a href="{% url 'index' %}" type="button" class="btn btn-outline-secondary">Cancelar</a>
          </div>
          <div class="col-md-6 d-grid mb-3">
            <button type="submit" class="btn btn-primary">Recuperar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% block script %}
<script src="{% static 'js/reset_password.js' %}"></script>
{% endblock script %}
{% endblock %}